.wrapper {
    margin-top: 8vh;
    width: 100%;
    overflow: hidden;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.wrapper h1 {
    font-size: 28;
    font-weight: 300;
}

.wrapper h2 {
    font-size: 20;
}

.wrapper h3 {
    font-size: 16;
}

.yan-scope {
    margin-top: 12px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner-image {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner-first {
    width: 100% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-boarder {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
    outline : solid 6px;
    outline-color: #F9DFA1
}

.button-wrapper {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-wrapper-inner {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 12px;
    margin-bottom: 72px;
}

.left-side-wrapper {
    width: 520px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-button-wrapper {
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.yan-background {
    width: 364px;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-wrapper {
    /* background-color: #F9DFA1; */
    width: 100%;
    height: 48px;
    display: flex;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
    outline: solid 2px;
    outline-color: #FAFAFA;
}

.color-wrapper input {
    height: 48px;
    width: 142px;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 4px 8px;
    color: #A1A1A1;
    font-size: 20;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
}

.color-wrapper ::placeholder {
    color: #e2e2e2;
    opacity: 1; /* Firefox */
    font-size: 20;
    font-weight: 400;
  }
  
.color-wrapper ::-ms-input-placeholder { /* Edge 12 -18 */
    color: #A1A1A1;
    font-size: 20;
    font-weight: 300;
}

.color-wrapper input[type=text]:focus {
    border: None;
    outline: None;
  }

.color-wrapper textarea:focus, .color-wrapper input:focus{ border: None; outline: None;}