@import "tailwindcss";

@theme{
  --color-primary: #15213F;
  --color-secondary: #445b94;
  --color-subsecondary: #86afd3;
  --color-highlight1: #f9dfa1;
  --color-highlight2: #eebb7e;
  --color-white: #FAFAFA;
  --font-family-mitr: "Mitr", sans-serif;
  
}

body {
  @apply bg-primary text-white; /* Use Tailwind to set bg-primary and keep text readable */
}

@media (prefers-color-scheme: dark) {
  body {
    /* Optional: Adjust for dark mode if needed */
    @apply bg-primary text-white;
  }
}