.wrapper {
    position: absolute;
    margin-top: 8vh;
    width: 100%;
    overflow: hidden;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.wrapper h1 {
    font-size: 28;
    font-weight: 300;
}

.wrapper h2 {
    font-size: 20;
}

.wrapper h3 {
    font-size: 16;
}

.yan-scope {
    margin-top: 12px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner-first {
    width: 100% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-boarder {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
    outline : solid 6px;
    outline-color: #F9DFA1
}

.button-wrapper {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-wrapper-inner {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 12px;
    margin-bottom: 48px;
}

.left-side-wrapper {
    width: 520px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-button-wrapper {
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.yan-background {
    width: 364px;
    aspect-ratio: calc(29/43);
    background-color: rgb(240, 152, 255);
}
.wrapper {
    position: absolute;
    padding-top: 8vh;
    width: 100%;
    overflow: hidden;
}

.back-wrapper {
    width: 100%;
    margin-top: 4vh;
    height: 2vh;
    z-index: 1;
    position: relative;
}

.wrapper p {
    font-size: 24px;
    font-weight: 300;
}

.content-wrapper {
    height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    justify-content: center;
}

.content-wrapper h2 {
    font-size: 24;
    font-weight: 300;
}

.content-wrapper h4 {
    font-size: 24;
    font-weight: 400;
}

.content-wrapper h1 {
    font-size: 32;
    font-weight: 500;
}

.choice-block {
    height: calc(min(80px, 8vh));
    width: 100%;
    margin-top: calc(min(32px, 3vh));
    
    /* color  */

}

.choice-wrapper {
    width: calc(min(60%, 680px));   
    margin-top: calc(min(16%, 16px));
}

.op-wrapper {
    height: calc(min(80px, 8vh));
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.op-button-wrapper {
    height: calc(min(80px, 8vh));
    width: calc(min(30%, 240px));
}