.center-wrapper {
    width: 400px;
    height: 48px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 34fr 300fr 34fr;
    gap: 32px;
}

.center-text-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #FAFAFA;
    font-size: 32px;
    color: #112141;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4px 8px;

}

.center-text-wrapper h3 {

    font-size: 20px;
    color: #112141;
    font-weight: 300;

}

.yan-selection-wrapper h1 {
    font-size: 28;
    font-weight: 400;
    margin-bottom: 4px;
}

.yan-selection-wrapper h4 {
    font-size: 16;
    font-weight: 300;
    margin-top: 4px;
}