.wrapper {
    position: absolute;
    margin-top: 8vh;
    width: 100%;
    overflow: hidden;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.wrapper h1 {
    font-size: 28;
    font-weight: 300;
}

.wrapper h2 {
    font-size: 20;
}

.wrapper h3 {
    font-size: 16;
}

.yan-scope {
    margin-top: 12px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-inner-first {
    width: 100% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.yan-boarder {
    width: 70% ;
    aspect-ratio: calc(29/43);
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-wrapper {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

.button-wrapper-inner {
    min-width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap : 12px;
    margin-bottom: 48px;
}

.left-side-wrapper {
    width: 364px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: calc(min(200px, 8%));
}

.bottom-button-wrapper {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.yan-background {
    width: 70%;
    aspect-ratio: calc(29/43);
    background-color: rgb(240, 152, 255);
}